---
layout: default
title: Sophuckit Podcast
body_class: theme-hybrid
---

<div class="debug-info" style="padding: 2rem; background: #eee; margin-top: 100px;">
  <p><strong>Debug:</strong> Found {{ site.episodes | size }} episodes in collection.</p>
</div>

{% include hero.html %}
{% include episode_library.html %}
{% include about.html %}
{% include host_bios.html %}
{% include subscribe.html %}
{% include guest_directory.html %}
{% include guest_profile_template.html %}
{% include sponsor.html %}
{% include contact.html %}
{% include newsletter.html %}
{% include store.html %}
